<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
<div class="profile-wrapper">
	<div class = "profile-header">
		<img class = "header-image" src="<%= "/images/back_image/#{@user.header_image}" %>">
		<img class = "icon-image profile-icon" src="<%= "/images/#{@user.icon_image}" %>">
		<span class = "edit-profile"><img src="/images/profile/profile_icon.png"></a></span>
		<div class = "profile-content">
			<p class = "profile-user-name"><%= @user.name %></p>
			<p class = "profile-text"><%= @user.profile_text %></p>
		</div>
		<div class = "profile-info-wrapper">
			<div class = "profile-info-parent">
				<div class = "profile-info">
					<p class = "info-title">投稿数</p>
					<p class = "info-content"><%= @user.post_total %></p>
				</div>
				<div class = "profile-info">
					<p class = "info-title">フォロー</p>
					<p class = "info-content">48人</p>
				</div>
				<div class = "profile-info" id="info-last">
					<p class = "info-title">フォロワー</p>
					<p class = "info-content">48人</p>
				</div>
			</div>
		</div>
	</div>
    <div class="manji-list">
		<div class = "title-post-index-wrapper">
			<div class="title-post-index">投稿一覧</div>
		</div>
        <ul>
            <% @user.posts.each do |post| %>
				<li class="post-content">
					<a href="<%= "/posts/#{post.id}/show" %>" class="link-post">
						<div class="content-header">
							<object><%= link_to("/users/#{post.user.id}/show") do %><img class="icon-image" src="<%= "/images/#{post.user.icon_image}" %>"><% end %></object>
							<div class="header-text">
								<span class="user-name"><%= post.user.name %></span>
								<p class="post-date"><%= post.created_at.to_s(:datetime_jp) %></p>
							</div>
						</div>
						
						<div class="post-contener">
							<div class = "post-content-body">
								<p class="content-text"><%= post.content %></p>
								<ul class="tweet-image-wrapper">
									<% if (post.image_1 !=nil)%>
										<li><a href="<%= "/images/tweet_images/#{post.image_1}" %>" data-lightbox="group"><img class="tweet-image" src="<%= "/images/tweet_images/#{post.image_1}" %>"></a></li>
									<% end %>
									<% if (post.image_2 !=nil)%>
										<li><a href="<%= "/images/tweet_images/#{post.image_2}" %>" data-lightbox="group"><img class="tweet-image" src="<%= "/images/tweet_images/#{post.image_2}" %>"></a></li>
									<% end %>
									<% if (post.image_3 !=nil)%>
										<li><a href="<%= "/images/tweet_images/#{post.image_3}" %>" data-lightbox="group"><img class="tweet-image" src="<%= "/images/tweet_images/#{post.image_3}" %>"></a></li>
									<% end %>
									<% if (post.image_4 !=nil)%>
										<li><a href="<%= "/images/tweet_images/#{post.image_4}" %>" data-lightbox="group"><img class="tweet-image" src="<%= "/images/tweet_images/#{post.image_4}" %>"></a></li>
									<% end %>
								</ul>
							</div>

							<div class="post-like-info">
								<% if (post.like_count > 0)%>
									<p><img class="btn-unlike" src="/images/ui/good2.png"><%= post.like_member_random %>さん<% if (post.like_count > 1)%>　他<%= post.like_count - 1 %>人<% end %></p>
								<% end %>
							</div>
						</div>
					</a>

					<div class = "post-content-footer">
						<% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
							<div class="footer-icon">
								<%= link_to("/likes/#{post.id}/#{@type}/destroy",{method: "post"}) do %>
									<span><img class="btn-like" src="/images/ui/good3.png">いいね</span>
								<% end %>
							</div>
						<% else %>
							<div class="footer-icon">
								<%= link_to("/likes/#{post.id}/#{@type}/create",{method: "post"}) do %>
									<span><img class="btn-unlike" src="/images/ui/good1.png">いいね</span>
								<% end %>
							</div>
						<% end %>
						<div class="footer-icon footer-comments">
							<%= link_to("/posts/#{post.id}/new") do %>
								<span><img class="btn-like" src="/images/ui/comment.png">コメント</span>
							<% end %>
						</div>
					</div>
				</li>
            <% end %>
        </ul>
    </div>
	<div class="edit-profile-dialog-wrapper">
		<div class="edit-profile-dialog">
			<p class = "edit-header-title">プロフィール編集</p>
			<div class = "edit-header-wrapper">
				<img class = "header-image" src="<%= "/images/back_image/#{@user.header_image}" %>">
				<img class = "camera-icon" src = "/images/ui/change_image_icon.png">
			</div>
			<img class = "icon-image" src="<%= "/images/#{@user.icon_image}" %>">
			<img class = "icon-camera-icon" src = "/images/ui/change_image_icon.png">
			<div class = "edit-text-profile">
			<%= form_for @user,:url => {controller: "users", action: "edit"} do |f| %>
				<div class = "edit-text">
					<label>ユーザー名：</label>
					<%= f.text_field :name, class: "edit-text-field edit-user-name"%>
				</div>
				<div class = "edit-text">
					<label>自己紹介：</label>
					<%= f.text_area :profile_text, size: "60x5", class: "edit-text-field" %>
				</div>
				<div class = "edit-text">
					<label>生年月日：</label>
					<%= f.text_field :profile_text, class: "edit-text-field" %>
				</div>
			</div>
			<div class="edit-footer-wrapper">
				<div class="edit-footer-buttons">
					<%= image_submit_tag "/images/ui/btn_save_profile.png", class: "submit-button" %>
					<span class = "submit-button"><img src="/images/ui/btn_cancel_profile.png"></span>
				</div>
			</div>
			<% end %>
			
		</div>
	</div>
</div>

<script>
    $(function(){
        $("#type-select").change(function(){
            $("#refresh").submit();
        });

		$(".edit-profile").on('click', function () {
        	$(".edit-profile-dialog-wrapper").fadeIn();
      	});

		$(".submit-button").on('click', function () {
        	$(".edit-profile-dialog-wrapper").fadeOut();
      	});
    });
</script>