<div class="index-wrapper">
    <div class="manji-list">
        <ul>
        <%= form_with url: posts_select_url, id: 'refresh' do |f| %>
            <%= f.select :tag, options_for_select(Post.tags.keys,@type), {} ,id: 'type-select' %>
        <% end %>

        <% @posts.each do |post| %>
            <% if post.tag == @type || @type == Post.tags.keys[0] %>
                <li>
                    <img class="icon-image" src="<%= "/images/#{post.user.icon_image}" %>"><%= post.content %>
                    <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
                        <%= link_to("/likes/#{post.id}/#{@type}/destroy",{method: "post"}) do %>
                            <span class="far fa-heart btn-like"></span>
                        <% end %>
                    <% else %>
                        <%= link_to("/likes/#{post.id}/#{@type}/create",{method: "post"}) do %>
                            <span class="far fa-heart btn-unlike"></span>
                        <% end %>
                    <% end %>
                </li>
            <% end %>
        <% end %>
        </ul>
    </div>
</div>

<script>
    $(function(){
        $("#type-select").change(function(){
            $("#refresh").submit();
        });
    });
</script>