<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
<div class="index-wrapper">
    <div class="manji-list">
        <div class="advertisement-image">
            <%= form_with url: posts_select_url, id: 'refresh' do |f| %>
                <%= f.select :tag, options_for_select(Post.tags.keys,@type), {} ,id: 'type-select' %>
            <% end %>
        
            <% if(@random==0)%>
                <%= link_to image_tag("/images/oreo.jpg"), "https://www.amazon.co.jp/gp/product/B079QL7GJF?pf_rd_r=76HWERK22027RGTHSFDR&pf_rd_p=3d322af3-60ce-4778-b834-9b7ade73f617" %>
            <% else %>
                <%= link_to image_tag("/images/noir.jpg"), "https://www.amazon.co.jp/%E3%83%A2%E3%83%B3%E3%83%87%E3%83%AA%E3%83%BC%E3%82%BA%E3%83%BB%E3%82%B8%E3%83%A3%E3%83%91%E3%83%B3-3490117-%E3%83%8A%E3%83%93%E3%82%B9%E3%82%B3-%E3%82%AA%E3%83%AC%E3%82%AA%E3%83%90%E3%83%8B%E3%83%A9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%A0-18%E6%9E%9A%C3%9710%E7%AE%B1/dp/B01KNI4DT2/ref=sr_1_1_sspa?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&dchild=1&keywords=%E3%82%AA%E3%83%AC%E3%82%AA&qid=1587843046&s=food-beverage&sr=1-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFQNlVLU1A5MlJJVzMmZW5jcnlwdGVkSWQ9QTEwMTA0MjhHRFM3UElROEg5N1UmZW5jcnlwdGVkQWRJZD1BMlZBOVgyNEpEVklRQSZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" %>
            <% end %>
        </div>
        <ul>
            <% @posts.each do |post| %>
                <% if (post.tag == @type || @type == Post.tags.keys[0])&&(post.content.include?("#{@search_word}"))%>
                    <li class="post-content">
                        <a href="<%= "/posts/#{post.id}/show" %>" class="link-post">
                            <div class="content-header">
                                <object><%= link_to("/users/#{post.user.id}/show") do %><img class="icon-image" src="<%= "/images/#{post.user.icon_image}" %>"><% end %></object>
                                <div class="header-text">
                                    <span class="user-name"><%= post.user.name %></span>
                                    <p class="post-date">2020年5月23日　12:50</p>
                                </div>
                            </div>
                            
                            <div class="post-contener">
                                <div class = "post-content-body">
                                    <p class="content-text"><%= post.content %></p>
                                    <ul class="tweet-image-wrapper">
                                        <% if (post.image_1 !=nil)%>
                                            <li><a href="<%= "/images/tweet_images/#{post.image_1}" %>" data-lightbox="group"><img class="tweet-image" src="<%= "/images/tweet_images/#{post.image_1}" %>"></a></li>
                                        <% end %>
                                        <% if (post.image_2 !=nil)%>
                                            <li><a href="<%= "/images/tweet_images/#{post.image_2}" %>" data-lightbox="group"><img class="tweet-image" src="<%= "/images/tweet_images/#{post.image_2}" %>"></a></li>
                                        <% end %>
                                        <% if (post.image_3 !=nil)%>
                                            <li><a href="<%= "/images/tweet_images/#{post.image_3}" %>" data-lightbox="group"><img class="tweet-image" src="<%= "/images/tweet_images/#{post.image_3}" %>"></a></li>
                                        <% end %>
                                        <% if (post.image_4 !=nil)%>
                                            <li><a href="<%= "/images/tweet_images/#{post.image_4}" %>" data-lightbox="group"><img class="tweet-image" src="<%= "/images/tweet_images/#{post.image_4}" %>"></a></li>
                                        <% end %>
                                    </ul>
                                </div>

                                <div class="post-like-info">
                                    <% if (post.like_count > 0)%>
                                        <p><img class="btn-unlike" src="/images/ui/good2.png"><%= post.like_member_random %>さん<% if (post.like_count > 1)%>　他<%= post.like_count - 1 %>人<% end %></p>
                                    <% end %>
                                </div>
                            </div>
                        </a>

                        <div class = "post-content-footer">
                            <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
                                <div class="footer-icon">
                                    <%= link_to("/likes/#{post.id}/#{@type}/destroy",{method: "post"}) do %>
                                        <span><img class="btn-like" src="/images/ui/good3.png">いいね</span>
                                    <% end %>
                                </div>
                            <% else %>
                                <div class="footer-icon">
                                    <%= link_to("/likes/#{post.id}/#{@type}/create",{method: "post"}) do %>
                                        <span><img class="btn-unlike" src="/images/ui/good1.png">いいね</span>
                                    <% end %>
                                </div>
                            <% end %>
                            <div class="footer-icon footer-comments">
                                <%= link_to("/posts/#{post.user.id}/new") do %>
                                    <span><img class="btn-like" src="/images/ui/comment.png">コメント</span>
                                <% end %>
                            </div>
                        </div>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>

<script>
    $(function(){
        $("#type-select").change(function(){
            $("#refresh").submit();
        });
    });
</script>