<img class="icon-image" src="<%= "/images/#{@post.user.icon_image}" %>"><%= link_to(@post.content,"/posts/#{@post.id}/show") %>
<%= link_to(@post.user.name, "/users/#{@post.user.id}/show") %>
<div class="icon-wrapper">
    <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/#{@type}/destroy",{method: "post"}) do %>
            <span class="far fa-heart btn-like"></span>
        <% end %>
    <% else %>
        <%= link_to("/likes/#{@post.id}/#{@type}/create",{method: "post"}) do %>
            <span class="far fa-heart btn-unlike"></span>
        <% end %>
    <% end %>
    <%= link_to("/posts/#{@post.user.id}/new") do %>
        <i class="far fa-comments"></i>
    <% end %>
</div>

<% @reply_posts.each do |post| %>
    <img class="icon-image" src="<%= "/images/#{post.user.icon_image}" %>"><%= link_to(post.content,"/posts/#{post.id}/show") %>
    <div class="icon-wrapper">
        <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
            <%= link_to("/likes/#{@post.id}/#{@type}/destroy",{method: "post"}) do %>
                <span class="far fa-heart btn-like"></span>
            <% end %>
        <% else %>
            <%= link_to("/likes/#{@post.id}/#{@type}/create",{method: "post"}) do %>
                <span class="far fa-heart btn-unlike"></span>
            <% end %>
        <% end %>
        <%= link_to("/posts/#{@post.user.id}/new") do %>
            <i class="far fa-comments"></i>
        <% end %>
    </div>
<% end %>